<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <Properties>
        <property name="console_log_pattern">%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</property>
        <property name="file_log_pattern">%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</property>
        <property name="every_file_size">20MB</property>
        <!--<property name="file_location">home/logs</property>-->
        <property name="file_location">logs</property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${console_log_pattern}"/>
        </Console>

        <RollingFile name="DEBUG" fileName="${file_location}/debug.log"
                     filePattern="${file_location}/debug_log_archive/debug-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${file_log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="INFO" fileName="${file_location}/info.log"
                     filePattern="${file_location}/info_log_archive/info-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${file_log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="WARN" fileName="${file_location}/warn.log"
                     filePattern="${file_location}/warn_log_archive/warn-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${file_log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="ERROR" fileName="${file_location}/error.log"
                     filePattern="${file_location}/error_log_archive/error-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${file_log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

    </appenders>

    <loggers>
        <!-- 属性 level 是用于设置最低需要输出的日志输出级别 -->
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="DEBUG"/>
            <appender-ref ref="INFO"/>
            <appender-ref ref="WARN"/>
            <appender-ref ref="ERROR"/>
        </root>
    </loggers>
</configuration>
